# Data Pull and Basic EDA and Simple Model Run
 Load Pandas and numpy for now

In [109]:
import pandas as pd
import numpy as np
from __future__ import division

Read Data from CSVs

In [3]:
train_data = pd.read_csv('/Users/archismanroy/Learning/Data/Sberbank Russian Housing Market/train.csv')
test_data = pd.read_csv('/Users/archismanroy/Learning/Data/Sberbank Russian Housing Market/test.csv')

In [163]:
#load a particular column - BUILD YEAR as string - 
#since there are lot of NAs being generated when it is loaded as float64
train_data_check = pd.read_csv('/Users/archismanroy/Learning/Data/Sberbank Russian Housing Market/train.csv',dtype = {'build_year': str})
#np.str

Initial Look of the data

In [155]:
print train_data.shape
#Count() Excludes NAN/NA. Instead use Len for series
print train_data['floor'].count(), train_data['build_year'].count(), len(train_data['floor'])

 (30471, 292)
30304 16866 30471

In [9]:
list(train_data.columns.values)

['id',
 'timestamp',
 'full_sq',
 'life_sq',
 'floor',
 'max_floor',
 'material',
 'build_year',
 'num_room',
 'kitch_sq',
 'state',
 'product_type',
 'sub_area',
 'area_m',
 'raion_popul',
 'green_zone_part',
 'indust_part',
 'children_preschool',
 'preschool_quota',
 'preschool_education_centers_raion',
 'children_school',
 'school_quota',
 'school_education_centers_raion',
 'school_education_centers_top_20_raion',
 'hospital_beds_raion',
 'healthcare_centers_raion',
 'university_top_20_raion',
 'sport_objects_raion',
 'additional_education_raion',
 'culture_objects_top_25',
 'culture_objects_top_25_raion',
 'shopping_centers_raion',
 'office_raion',
 'thermal_power_plant_raion',
 'incineration_raion',
 'oil_chemistry_raion',
 'radiation_raion',
 'railroad_terminal_raion',
 'big_market_raion',
 'nuclear_reactor_raion',
 'detention_facility_raion',
 'full_all',
 'male_f',
 'female_f',
 'young_all',
 'young_male',
 'young_female',
 'work_all',
 'work_male',
 'work_female',
 'ekder_all',
 'ekder_male',
 'ekder_female',
 '0_6_all',
 '0_6_male',
 '0_6_female',
 '7_14_all',
 '7_14_male',
 '7_14_female',
 '0_17_all',
 '0_17_male',
 '0_17_female',
 '16_29_all',
 '16_29_male',
 '16_29_female',
 '0_13_all',
 '0_13_male',
 '0_13_female',
 'raion_build_count_with_material_info',
 'build_count_block',
 'build_count_wood',
 'build_count_frame',
 'build_count_brick',
 'build_count_monolith',
 'build_count_panel',
 'build_count_foam',
 'build_count_slag',
 'build_count_mix',
 'raion_build_count_with_builddate_info',
 'build_count_before_1920',
 'build_count_1921-1945',
 'build_count_1946-1970',
 'build_count_1971-1995',
 'build_count_after_1995',
 'ID_metro',
 'metro_min_avto',
 'metro_km_avto',
 'metro_min_walk',
 'metro_km_walk',
 'kindergarten_km',
 'school_km',
 'park_km',
 'green_zone_km',
 'industrial_km',
 'water_treatment_km',
 'cemetery_km',
 'incineration_km',
 'railroad_station_walk_km',
 'railroad_station_walk_min',
 'ID_railroad_station_walk',
 'railroad_station_avto_km',
 'railroad_station_avto_min',
 'ID_railroad_station_avto',
 'public_transport_station_km',
 'public_transport_station_min_walk',
 'water_km',
 'water_1line',
 'mkad_km',
 'ttk_km',
 'sadovoe_km',
 'bulvar_ring_km',
 'kremlin_km',
 'big_road1_km',
 'ID_big_road1',
 'big_road1_1line',
 'big_road2_km',
 'ID_big_road2',
 'railroad_km',
 'railroad_1line',
 'zd_vokzaly_avto_km',
 'ID_railroad_terminal',
 'bus_terminal_avto_km',
 'ID_bus_terminal',
 'oil_chemistry_km',
 'nuclear_reactor_km',
 'radiation_km',
 'power_transmission_line_km',
 'thermal_power_plant_km',
 'ts_km',
 'big_market_km',
 'market_shop_km',
 'fitness_km',
 'swim_pool_km',
 'ice_rink_km',
 'stadium_km',
 'basketball_km',
 'hospice_morgue_km',
 'detention_facility_km',
 'public_healthcare_km',
 'university_km',
 'workplaces_km',
 'shopping_centers_km',
 'office_km',
 'additional_education_km',
 'preschool_km',
 'big_church_km',
 'church_synagogue_km',
 'mosque_km',
 'theater_km',
 'museum_km',
 'exhibition_km',
 'catering_km',
 'ecology',
 'green_part_500',
 'prom_part_500',
 'office_count_500',
 'office_sqm_500',
 'trc_count_500',
 'trc_sqm_500',
 'cafe_count_500',
 'cafe_sum_500_min_price_avg',
 'cafe_sum_500_max_price_avg',
 'cafe_avg_price_500',
 'cafe_count_500_na_price',
 'cafe_count_500_price_500',
 'cafe_count_500_price_1000',
 'cafe_count_500_price_1500',
 'cafe_count_500_price_2500',
 'cafe_count_500_price_4000',
 'cafe_count_500_price_high',
 'big_church_count_500',
 'church_count_500',
 'mosque_count_500',
 'leisure_count_500',
 'sport_count_500',
 'market_count_500',
 'green_part_1000',
 'prom_part_1000',
 'office_count_1000',
 'office_sqm_1000',
 'trc_count_1000',
 'trc_sqm_1000',
 'cafe_count_1000',
 'cafe_sum_1000_min_price_avg',
 'cafe_sum_1000_max_price_avg',
 'cafe_avg_price_1000',
 'cafe_count_1000_na_price',
 'cafe_count_1000_price_500',
 'cafe_count_1000_price_1000',
 'cafe_count_1000_price_1500',
 'cafe_count_1000_price_2500',
 'cafe_count_1000_price_4000',
 'cafe_count_1000_price_high',
 'big_church_count_1000',
 'church_count_1000',
 'mosque_count_1000',
 'leisure_count_1000',
 'sport_count_1000',
 'market_count_1000',
 'green_part_1500',
 'prom_part_1500',
 'office_count_1500',
 'office_sqm_1500',
 'trc_count_1500',
 'trc_sqm_1500',
 'cafe_count_1500',
 'cafe_sum_1500_min_price_avg',
 'cafe_sum_1500_max_price_avg',
 'cafe_avg_price_1500',
 'cafe_count_1500_na_price',
 'cafe_count_1500_price_500',
 'cafe_count_1500_price_1000',
 'cafe_count_1500_price_1500',
 'cafe_count_1500_price_2500',
 'cafe_count_1500_price_4000',
 'cafe_count_1500_price_high',
 'big_church_count_1500',
 'church_count_1500',
 'mosque_count_1500',
 'leisure_count_1500',
 'sport_count_1500',
 'market_count_1500',
 'green_part_2000',
 'prom_part_2000',
 'office_count_2000',
 'office_sqm_2000',
 'trc_count_2000',
 'trc_sqm_2000',
 'cafe_count_2000',
 'cafe_sum_2000_min_price_avg',
 'cafe_sum_2000_max_price_avg',
 'cafe_avg_price_2000',
 'cafe_count_2000_na_price',
 'cafe_count_2000_price_500',
 'cafe_count_2000_price_1000',
 'cafe_count_2000_price_1500',
 'cafe_count_2000_price_2500',
 'cafe_count_2000_price_4000',
 'cafe_count_2000_price_high',
 'big_church_count_2000',
 'church_count_2000',
 'mosque_count_2000',
 'leisure_count_2000',
 'sport_count_2000',
 'market_count_2000',
 'green_part_3000',
 'prom_part_3000',
 'office_count_3000',
 'office_sqm_3000',
 'trc_count_3000',
 'trc_sqm_3000',
 'cafe_count_3000',
 'cafe_sum_3000_min_price_avg',
 'cafe_sum_3000_max_price_avg',
 'cafe_avg_price_3000',
 'cafe_count_3000_na_price',
 'cafe_count_3000_price_500',
 'cafe_count_3000_price_1000',
 'cafe_count_3000_price_1500',
 'cafe_count_3000_price_2500',
 'cafe_count_3000_price_4000',
 'cafe_count_3000_price_high',
 'big_church_count_3000',
 'church_count_3000',
 'mosque_count_3000',
 'leisure_count_3000',
 'sport_count_3000',
 'market_count_3000',
 'green_part_5000',
 'prom_part_5000',
 'office_count_5000',
 'office_sqm_5000',
 'trc_count_5000',
 'trc_sqm_5000',
 'cafe_count_5000',
 'cafe_sum_5000_min_price_avg',
 'cafe_sum_5000_max_price_avg',
 'cafe_avg_price_5000',
 'cafe_count_5000_na_price',
 'cafe_count_5000_price_500',
 'cafe_count_5000_price_1000',
 'cafe_count_5000_price_1500',
 'cafe_count_5000_price_2500',
 'cafe_count_5000_price_4000',
 'cafe_count_5000_price_high',
 'big_church_count_5000',
 'church_count_5000',
 'mosque_count_5000',
 'leisure_count_5000',
 'sport_count_5000',
 'market_count_5000',
 'price_doc']

In [11]:
dict(train_data.dtypes)

{'0_13_all': dtype('int64'),
 '0_13_female': dtype('int64'),
 '0_13_male': dtype('int64'),
 '0_17_all': dtype('int64'),
 '0_17_female': dtype('int64'),
 '0_17_male': dtype('int64'),
 '0_6_all': dtype('int64'),
 '0_6_female': dtype('int64'),
 '0_6_male': dtype('int64'),
 '16_29_all': dtype('int64'),
 '16_29_female': dtype('int64'),
 '16_29_male': dtype('int64'),
 '7_14_all': dtype('int64'),
 '7_14_female': dtype('int64'),
 '7_14_male': dtype('int64'),
 'ID_big_road1': dtype('int64'),
 'ID_big_road2': dtype('int64'),
 'ID_bus_terminal': dtype('int64'),
 'ID_metro': dtype('int64'),
 'ID_railroad_station_avto': dtype('int64'),
 'ID_railroad_station_walk': dtype('float64'),
 'ID_railroad_terminal': dtype('int64'),
 'additional_education_km': dtype('float64'),
 'additional_education_raion': dtype('int64'),
 'area_m': dtype('float64'),
 'basketball_km': dtype('float64'),
 'big_church_count_1000': dtype('int64'),
 'big_church_count_1500': dtype('int64'),
 'big_church_count_2000': dtype('int64'),
 'big_church_count_3000': dtype('int64'),
 'big_church_count_500': dtype('int64'),
 'big_church_count_5000': dtype('int64'),
 'big_church_km': dtype('float64'),
 'big_market_km': dtype('float64'),
 'big_market_raion': dtype('O'),
 'big_road1_1line': dtype('O'),
 'big_road1_km': dtype('float64'),
 'big_road2_km': dtype('float64'),
 'build_count_1921-1945': dtype('float64'),
 'build_count_1946-1970': dtype('float64'),
 'build_count_1971-1995': dtype('float64'),
 'build_count_after_1995': dtype('float64'),
 'build_count_before_1920': dtype('float64'),
 'build_count_block': dtype('float64'),
 'build_count_brick': dtype('float64'),
 'build_count_foam': dtype('float64'),
 'build_count_frame': dtype('float64'),
 'build_count_mix': dtype('float64'),
 'build_count_monolith': dtype('float64'),
 'build_count_panel': dtype('float64'),
 'build_count_slag': dtype('float64'),
 'build_count_wood': dtype('float64'),
 'build_year': dtype('float64'),
 'bulvar_ring_km': dtype('float64'),
 'bus_terminal_avto_km': dtype('float64'),
 'cafe_avg_price_1000': dtype('float64'),
 'cafe_avg_price_1500': dtype('float64'),
 'cafe_avg_price_2000': dtype('float64'),
 'cafe_avg_price_3000': dtype('float64'),
 'cafe_avg_price_500': dtype('float64'),
 'cafe_avg_price_5000': dtype('float64'),
 'cafe_count_1000': dtype('int64'),
 'cafe_count_1000_na_price': dtype('int64'),
 'cafe_count_1000_price_1000': dtype('int64'),
 'cafe_count_1000_price_1500': dtype('int64'),
 'cafe_count_1000_price_2500': dtype('int64'),
 'cafe_count_1000_price_4000': dtype('int64'),
 'cafe_count_1000_price_500': dtype('int64'),
 'cafe_count_1000_price_high': dtype('int64'),
 'cafe_count_1500': dtype('int64'),
 'cafe_count_1500_na_price': dtype('int64'),
 'cafe_count_1500_price_1000': dtype('int64'),
 'cafe_count_1500_price_1500': dtype('int64'),
 'cafe_count_1500_price_2500': dtype('int64'),
 'cafe_count_1500_price_4000': dtype('int64'),
 'cafe_count_1500_price_500': dtype('int64'),
 'cafe_count_1500_price_high': dtype('int64'),
 'cafe_count_2000': dtype('int64'),
 'cafe_count_2000_na_price': dtype('int64'),
 'cafe_count_2000_price_1000': dtype('int64'),
 'cafe_count_2000_price_1500': dtype('int64'),
 'cafe_count_2000_price_2500': dtype('int64'),
 'cafe_count_2000_price_4000': dtype('int64'),
 'cafe_count_2000_price_500': dtype('int64'),
 'cafe_count_2000_price_high': dtype('int64'),
 'cafe_count_3000': dtype('int64'),
 'cafe_count_3000_na_price': dtype('int64'),
 'cafe_count_3000_price_1000': dtype('int64'),
 'cafe_count_3000_price_1500': dtype('int64'),
 'cafe_count_3000_price_2500': dtype('int64'),
 'cafe_count_3000_price_4000': dtype('int64'),
 'cafe_count_3000_price_500': dtype('int64'),
 'cafe_count_3000_price_high': dtype('int64'),
 'cafe_count_500': dtype('int64'),
 'cafe_count_5000': dtype('int64'),
 'cafe_count_5000_na_price': dtype('int64'),
 'cafe_count_5000_price_1000': dtype('int64'),
 'cafe_count_5000_price_1500': dtype('int64'),
 'cafe_count_5000_price_2500': dtype('int64'),
 'cafe_count_5000_price_4000': dtype('int64'),
 'cafe_count_5000_price_500': dtype('int64'),
 'cafe_count_5000_price_high': dtype('int64'),
 'cafe_count_500_na_price': dtype('int64'),
 'cafe_count_500_price_1000': dtype('int64'),
 'cafe_count_500_price_1500': dtype('int64'),
 'cafe_count_500_price_2500': dtype('int64'),
 'cafe_count_500_price_4000': dtype('int64'),
 'cafe_count_500_price_500': dtype('int64'),
 'cafe_count_500_price_high': dtype('int64'),
 'cafe_sum_1000_max_price_avg': dtype('float64'),
 'cafe_sum_1000_min_price_avg': dtype('float64'),
 'cafe_sum_1500_max_price_avg': dtype('float64'),
 'cafe_sum_1500_min_price_avg': dtype('float64'),
 'cafe_sum_2000_max_price_avg': dtype('float64'),
 'cafe_sum_2000_min_price_avg': dtype('float64'),
 'cafe_sum_3000_max_price_avg': dtype('float64'),
 'cafe_sum_3000_min_price_avg': dtype('float64'),
 'cafe_sum_5000_max_price_avg': dtype('float64'),
 'cafe_sum_5000_min_price_avg': dtype('float64'),
 'cafe_sum_500_max_price_avg': dtype('float64'),
 'cafe_sum_500_min_price_avg': dtype('float64'),
 'catering_km': dtype('float64'),
 'cemetery_km': dtype('float64'),
 'children_preschool': dtype('int64'),
 'children_school': dtype('int64'),
 'church_count_1000': dtype('int64'),
 'church_count_1500': dtype('int64'),
 'church_count_2000': dtype('int64'),
 'church_count_3000': dtype('int64'),
 'church_count_500': dtype('int64'),
 'church_count_5000': dtype('int64'),
 'church_synagogue_km': dtype('float64'),
 'culture_objects_top_25': dtype('O'),
 'culture_objects_top_25_raion': dtype('int64'),
 'detention_facility_km': dtype('float64'),
 'detention_facility_raion': dtype('O'),
 'ecology': dtype('O'),
 'ekder_all': dtype('int64'),
 'ekder_female': dtype('int64'),
 'ekder_male': dtype('int64'),
 'exhibition_km': dtype('float64'),
 'female_f': dtype('int64'),
 'fitness_km': dtype('float64'),
 'floor': dtype('float64'),
 'full_all': dtype('int64'),
 'full_sq': dtype('int64'),
 'green_part_1000': dtype('float64'),
 'green_part_1500': dtype('float64'),
 'green_part_2000': dtype('float64'),
 'green_part_3000': dtype('float64'),
 'green_part_500': dtype('float64'),
 'green_part_5000': dtype('float64'),
 'green_zone_km': dtype('float64'),
 'green_zone_part': dtype('float64'),
 'healthcare_centers_raion': dtype('int64'),
 'hospice_morgue_km': dtype('float64'),
 'hospital_beds_raion': dtype('float64'),
 'ice_rink_km': dtype('float64'),
 'id': dtype('int64'),
 'incineration_km': dtype('float64'),
 'incineration_raion': dtype('O'),
 'indust_part': dtype('float64'),
 'industrial_km': dtype('float64'),
 'kindergarten_km': dtype('float64'),
 'kitch_sq': dtype('float64'),
 'kremlin_km': dtype('float64'),
 'leisure_count_1000': dtype('int64'),
 'leisure_count_1500': dtype('int64'),
 'leisure_count_2000': dtype('int64'),
 'leisure_count_3000': dtype('int64'),
 'leisure_count_500': dtype('int64'),
 'leisure_count_5000': dtype('int64'),
 'life_sq': dtype('float64'),
 'male_f': dtype('int64'),
 'market_count_1000': dtype('int64'),
 'market_count_1500': dtype('int64'),
 'market_count_2000': dtype('int64'),
 'market_count_3000': dtype('int64'),
 'market_count_500': dtype('int64'),
 'market_count_5000': dtype('int64'),
 'market_shop_km': dtype('float64'),
 'material': dtype('float64'),
 'max_floor': dtype('float64'),
 'metro_km_avto': dtype('float64'),
 'metro_km_walk': dtype('float64'),
 'metro_min_avto': dtype('float64'),
 'metro_min_walk': dtype('float64'),
 'mkad_km': dtype('float64'),
 'mosque_count_1000': dtype('int64'),
 'mosque_count_1500': dtype('int64'),
 'mosque_count_2000': dtype('int64'),
 'mosque_count_3000': dtype('int64'),
 'mosque_count_500': dtype('int64'),
 'mosque_count_5000': dtype('int64'),
 'mosque_km': dtype('float64'),
 'museum_km': dtype('float64'),
 'nuclear_reactor_km': dtype('float64'),
 'nuclear_reactor_raion': dtype('O'),
 'num_room': dtype('float64'),
 'office_count_1000': dtype('int64'),
 'office_count_1500': dtype('int64'),
 'office_count_2000': dtype('int64'),
 'office_count_3000': dtype('int64'),
 'office_count_500': dtype('int64'),
 'office_count_5000': dtype('int64'),
 'office_km': dtype('float64'),
 'office_raion': dtype('int64'),
 'office_sqm_1000': dtype('int64'),
 'office_sqm_1500': dtype('int64'),
 'office_sqm_2000': dtype('int64'),
 'office_sqm_3000': dtype('int64'),
 'office_sqm_500': dtype('int64'),
 'office_sqm_5000': dtype('int64'),
 'oil_chemistry_km': dtype('float64'),
 'oil_chemistry_raion': dtype('O'),
 'park_km': dtype('float64'),
 'power_transmission_line_km': dtype('float64'),
 'preschool_education_centers_raion': dtype('int64'),
 'preschool_km': dtype('float64'),
 'preschool_quota': dtype('float64'),
 'price_doc': dtype('int64'),
 'product_type': dtype('O'),
 'prom_part_1000': dtype('float64'),
 'prom_part_1500': dtype('float64'),
 'prom_part_2000': dtype('float64'),
 'prom_part_3000': dtype('float64'),
 'prom_part_500': dtype('float64'),
 'prom_part_5000': dtype('float64'),
 'public_healthcare_km': dtype('float64'),
 'public_transport_station_km': dtype('float64'),
 'public_transport_station_min_walk': dtype('float64'),
 'radiation_km': dtype('float64'),
 'radiation_raion': dtype('O'),
 'railroad_1line': dtype('O'),
 'railroad_km': dtype('float64'),
 'railroad_station_avto_km': dtype('float64'),
 'railroad_station_avto_min': dtype('float64'),
 'railroad_station_walk_km': dtype('float64'),
 'railroad_station_walk_min': dtype('float64'),
 'railroad_terminal_raion': dtype('O'),
 'raion_build_count_with_builddate_info': dtype('float64'),
 'raion_build_count_with_material_info': dtype('float64'),
 'raion_popul': dtype('int64'),
 'sadovoe_km': dtype('float64'),
 'school_education_centers_raion': dtype('int64'),
 'school_education_centers_top_20_raion': dtype('int64'),
 'school_km': dtype('float64'),
 'school_quota': dtype('float64'),
 'shopping_centers_km': dtype('float64'),
 'shopping_centers_raion': dtype('int64'),
 'sport_count_1000': dtype('int64'),
 'sport_count_1500': dtype('int64'),
 'sport_count_2000': dtype('int64'),
 'sport_count_3000': dtype('int64'),
 'sport_count_500': dtype('int64'),
 'sport_count_5000': dtype('int64'),
 'sport_objects_raion': dtype('int64'),
 'stadium_km': dtype('float64'),
 'state': dtype('float64'),
 'sub_area': dtype('O'),
 'swim_pool_km': dtype('float64'),
 'theater_km': dtype('float64'),
 'thermal_power_plant_km': dtype('float64'),
 'thermal_power_plant_raion': dtype('O'),
 'timestamp': dtype('O'),
 'trc_count_1000': dtype('int64'),
 'trc_count_1500': dtype('int64'),
 'trc_count_2000': dtype('int64'),
 'trc_count_3000': dtype('int64'),
 'trc_count_500': dtype('int64'),
 'trc_count_5000': dtype('int64'),
 'trc_sqm_1000': dtype('int64'),
 'trc_sqm_1500': dtype('int64'),
 'trc_sqm_2000': dtype('int64'),
 'trc_sqm_3000': dtype('int64'),
 'trc_sqm_500': dtype('int64'),
 'trc_sqm_5000': dtype('int64'),
 'ts_km': dtype('float64'),
 'ttk_km': dtype('float64'),
 'university_km': dtype('float64'),
 'university_top_20_raion': dtype('int64'),
 'water_1line': dtype('O'),
 'water_km': dtype('float64'),
 'water_treatment_km': dtype('float64'),
 'work_all': dtype('int64'),
 'work_female': dtype('int64'),
 'work_male': dtype('int64'),
 'workplaces_km': dtype('float64'),
 'young_all': dtype('int64'),
 'young_female': dtype('int64'),
 'young_male': dtype('int64'),
 'zd_vokzaly_avto_km': dtype('float64')}

In [164]:
x = dict(train_data_check.dtypes)
print x['build_year']

object

In [165]:
train_data_check['build_year'].unique() #NO ISSUES, SINCE ALL ARE ACTUALLY NUMBERS

array([nan, '1907', '1980', '2014', '1970', '1982', '2013', '2004', '2003',
       '1957', '1986', '1960', '1995', '1979', '1975', '1987', '1962',
       '1969', '1993', '1996', '1972', '2011', '1965', '2010', '1985',
       '2006', '1961', '1971', '1978', '1966', '1967', '2000', '1964',
       '1977', '1983', '1968', '1974', '2008', '1959', '2007', '1984',
       '1976', '1997', '1989', '1958', '1988', '2012', '1990', '1946',
       '1917', '2002', '2005', '2001', '1963', '1954', '1951', '1981',
       '1955', '1999', '2009', '1973', '1994', '1998', '1992', '1950',
       '1956', '2015', '0', '1932', '1', '1937', '1938', '1939', '1991',
       '1934', '1935', '20052009', '1947', '1953', '1933', '2016', '1930',
       '1912', '1929', '3', '1928', '1915', '1936', '1925', '1940', '1943',
       '1927', '1896', '1911', '1924', '1952', '2017', '1926', '1931',
       '20', '1860', '1949', '1914', '4965', '1910', '1895', '1948',
       '1876', '1900', '1890', '1920', '1904', '1906', '1941', '1691',
       '1905', '1886', '2018', '215', '71'], dtype=object)

In [14]:
train_data.oil_chemistry_raion[0:4]

0    no
1    no
2    no
3    no
Name: oil_chemistry_raion, dtype: object

Check for missing values

### Pick only certain columns for now

In [15]:
train_data_select = train_data[['price_doc','id','timestamp','full_sq','floor','max_floor','material','build_year','num_room','kitch_sq','state','product_type','sub_area']]

In [89]:
train_data_select.head(4)

,price_doc,id,timestamp,full_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,Date
0,5850000,1,2011-08-20,43,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Bibirevo,2011-08-20
1,6000000,2,2011-08-23,34,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Nagatinskij Zaton,2011-08-23
2,5700000,3,2011-08-27,43,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Tekstil'shhiki,2011-08-27
3,13100000,4,2011-09-01,89,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Mitino,2011-09-01

In [23]:
print 'Unique values for max_floor: \n', train_data_select['max_floor'].value_counts(dropna = False)

Unique values for max_floor:
NaN       9572
 17.0     4672
 9.0      3025
 5.0      2267
 12.0     2229
 14.0     1362
 16.0     1146
 1.0       973
 22.0      745
 25.0      735
 0.0       550
 24.0      396
 8.0       307
 10.0      284
 3.0       278
 4.0       278
 15.0      239
 19.0      220
 20.0      204
 18.0      195
 6.0       148
 7.0       116
 2.0       100
 23.0       94
 21.0       57
 13.0       56
 11.0       54
 30.0       42
 40.0       25
 32.0       17
 27.0       17
 26.0       10
 28.0       10
 48.0        7
 37.0        7
 29.0        6
 39.0        4
 34.0        3
 33.0        3
 31.0        3
 99.0        3
 45.0        2
 47.0        2
 36.0        2
 57.0        1
 117.0       1
 42.0        1
 44.0        1
 41.0        1
 38.0        1
Name: max_floor, dtype: int64

In [152]:
#Automating the above code for all columns using lists
columns = list(train_data_select.columns)

for i in columns:
    print 'Unique values for', i ,': \n', train_data_select[i].value_counts(dropna = False)

Unique values for price_doc :
2000000     757
1000000     747
6000000     372
3000000     332
6500000     330
7000000     319
5500000     309
6300000     295
5000000     294
6200000     277
7500000     276
6400000     235
6800000     231
8500000     231
8000000     228
6100000     220
5900000     208
5800000     208
5700000     203
7200000     201
5300000     197
6900000     191
6600000     190
6700000     189
9000000     186
5200000     186
5600000     185
7400000     181
5400000     172
7300000     158
           ...
6066060       1
8786200       1
7680172       1
4870320       1
12470451      1
8386741       1
5978048       1
10432700      1
5644478       1
3985600       1
7181600       1
7299270       1
3798080       1
6238400       1
6881498       1
5519581       1
10100958      1
11620576      1
6744295       1
6689000       1
6303980       1
12132590      1
6177010       1
3369207       1
5804280       1
6478081       1
2650000       1
4088070       1
3445000       1
4096000       1
Name: price_doc, dtype: int64
Unique values for id :
2047     1
7497     1
13612    1
15661    1
9518     1
11567    1
21824    1
23873    1
17730    1
19779    1
30020    1
25926    1
27975    1
5448     1
1354     1
1322     1
3403     1
13644    1
15693    1
9550     1
11599    1
21856    1
23905    1
17762    1
19811    1
30052    1
25958    1
28007    1
3371     1
7465     1
        ..
29371    1
25273    1
27320    1
4791     1
17021    1
23166    1
21119    1
10896    1
8849     1
14994    1
12947    1
2708     1
661      1
6806     1
4759     1
27288    1
25241    1
29339    1
19100    1
17053    1
23198    1
21151    1
10928    1
8881     1
15026    1
12979    1
2740     1
693      1
6838     1
2049     1
Name: id, dtype: int64
Unique values for full_sq :
38     1928
37     1232
39     1013
44     1008
45      943
40      860
32      846
43      832
41      764
51      750
42      695
53      665
52      654
60      635
63      628
34      614
35      613
64      608
58      576
59      575
54      567
36      544
61      543
31      516
46      479
62      474
79      470
74      466
57      466
56      447
       ...
173       1
189       1
461       1
637       1
145       1
193       1
177       1
195       1
291       1
388       1
5         1
325       1
6         1
182       1
199       1
226       1
210       1
215       1
407       1
207       1
168       1
184       1
216       1
9         1
185       1
729       1
10        1
353       1
186       1
303       1
Name: full_sq, dtype: int64
Unique values for floor :
3.0     3028
2.0     2874
5.0     2752
4.0     2609
1.0     2002
7.0     1966
6.0     1878
9.0     1843
8.0     1830
12.0    1341
10.0    1307
11.0    1262
14.0    1001
13.0     918
16.0     811
17.0     795
15.0     747
18.0     231
19.0     212
20.0     180
0.0      176
22.0     173
21.0     138
23.0     125
25.0     104
24.0     100
32.0      14
26.0      14
27.0       7
30.0       6
28.0       6
31.0       5
29.0       3
34.0       3
36.0       2
37.0       2
44.0       2
41.0       1
38.0       1
77.0       1
33.0       1
Name: floor, dtype: int64
Unique values for max_floor :
0.0      10122
17.0      4672
9.0       3025
5.0       2267
12.0      2229
14.0      1362
16.0      1146
1.0        973
22.0       745
25.0       735
24.0       396
8.0        307
10.0       284
3.0        278
4.0        278
15.0       239
19.0       220
20.0       204
18.0       195
6.0        148
7.0        116
2.0        100
23.0        94
21.0        57
13.0        56
11.0        54
30.0        42
40.0        25
27.0        17
32.0        17
28.0        10
26.0        10
37.0         7
48.0         7
29.0         6
39.0         4
33.0         3
31.0         3
99.0         3
34.0         3
45.0         2
47.0         2
36.0         2
57.0         1
38.0         1
117.0        1
44.0         1
42.0         1
41.0         1
Name: max_floor, dtype: int64
Unique values for material :
1.0    14197
0.0     9572
2.0     2993
5.0     1561
4.0     1344
6.0      803
3.0        1
Name: material, dtype: int64
Unique values for build_year :
0.0           14135
2014.0          919
2015.0          824
2013.0          464
1970.0          418
1969.0          407
1968.0          389
1967.0          384
1965.0          378
2016.0          375
1.0             368
1972.0          360
1974.0          357
1971.0          352
1966.0          348
1960.0          344
1962.0          338
1973.0          333
1963.0          325
1964.0          315
1975.0          309
1961.0          297
1976.0          263
1977.0          260
2006.0          242
1979.0          236
1978.0          235
2008.0          234
2012.0          233
1980.0          226
              ...
1910.0            5
1947.0            4
1924.0            3
1949.0            3
1914.0            3
1943.0            2
1907.0            2
1896.0            2
1900.0            2
1860.0            2
1941.0            2
3.0               2
1946.0            2
1920.0            1
4965.0            1
1906.0            1
1905.0            1
1895.0            1
1948.0            1
1886.0            1
1691.0            1
20052009.0        1
20.0              1
1925.0            1
1911.0            1
2018.0            1
1876.0            1
215.0             1
1904.0            1
71.0              1
Name: build_year, dtype: int64
Unique values for num_room :
0.0     9586
2.0     8132
1.0     7602
3.0     4675
4.0      418
5.0       40
6.0        9
8.0        3
10.0       2
7.0        1
19.0       1
9.0        1
17.0       1
Name: num_room, dtype: int64
Unique values for kitch_sq :
0.0       10953
1.0        4854
8.0        2678
5.0        2594
6.0        2298
10.0       2241
9.0        1806
7.0        1262
12.0        552
11.0        478
13.0        153
14.0        112
4.0          87
15.0         67
16.0         56
3.0          47
17.0         39
20.0         25
19.0         23
18.0         21
2.0          14
22.0          8
24.0          5
21.0          4
40.0          4
23.0          4
25.0          4
42.0          4
30.0          4
37.0          4
          ...
61.0          2
34.0          2
28.0          2
39.0          2
65.0          1
96.0          1
2013.0        1
1974.0        1
74.0          1
1970.0        1
44.0          1
72.0          1
84.0          1
48.0          1
123.0         1
95.0          1
66.0          1
36.0          1
75.0          1
35.0          1
53.0          1
27.0          1
2014.0        1
79.0          1
73.0          1
86.0          1
620.0         1
97.0          1
26.0          1
78.0          1
Name: kitch_sq, dtype: int64
Unique values for state :
0.0     13559
2.0      5844
3.0      5790
1.0      4855
4.0       422
33.0        1
Name: state, dtype: int64
Unique values for product_type :
Investment       19448
OwnerOccupier    11023
Name: product_type, dtype: int64
Unique values for sub_area :
Poselenie Sosenskoe               1776
Nekrasovka                        1611
Poselenie Vnukovskoe              1372
Poselenie Moskovskij               925
Poselenie Voskresenskoe            713
Mitino                             679
Tverskoe                           678
Krjukovo                           518
Mar'ino                            508
Poselenie Filimonkovskoe           496
Juzhnoe Butovo                     451
Poselenie Shherbinka               443
Solncevo                           421
Zapadnoe Degunino                  410
Poselenie Desjonovskoe             362
Otradnoe                           353
Nagatinskij Zaton                  327
Nagornoe                           305
Bogorodskoe                        305
Strogino                           301
Izmajlovo                          300
Tekstil'shhiki                     298
Ljublino                           297
Gol'janovo                         295
Severnoe Tushino                   282
Chertanovo Juzhnoe                 273
Birjulevo Vostochnoe               268
Vyhino-Zhulebino                   264
Horoshevo-Mnevniki                 262
Zjuzino                            259
                                  ...
Ostankinskoe                        79
Gagarinskoe                         79
Nizhegorodskoe                      77
Sokol                               72
Altuf'evskoe                        68
Rostokino                           64
Kurkino                             62
Sokol'niki                          60
Begovoe                             60
Metrogorodok                        58
Dorogomilovo                        56
Zamoskvorech'e                      50
Kapotnja                            49
Vnukovo                             44
Severnoe                            37
Krasnosel'skoe                      37
Poselenie Rjazanovskoe              34
Poselenie Rogovskoe                 31
Poselenie Krasnopahorskoe           27
Poselenie Kokoshkino                20
Poselenie Mosrentgen                19
Arbat                               15
Poselenie Voronovskoe                7
Vostochnoe                           7
Poselenie Marushkinskoe              6
Molzhaninovskoe                      3
Poselenie Kievskij                   2
Poselenie Shhapovskoe                2
Poselenie Mihajlovo-Jarcevskoe       1
Poselenie Klenovskoe                 1
Name: sub_area, dtype: int64
Unique values for Date :
2014-12-16    160
2014-12-09    147
2014-06-30    133
2014-12-18    118
2014-11-25     93
2014-09-30     92
2014-12-08     87
2014-12-03     86
2014-12-17     84
2014-12-01     83
2014-11-21     82
2014-12-02     82
2014-12-20     79
2014-10-31     79
2014-12-15     79
2014-06-27     78
2014-12-12     78
2014-11-13     77
2014-10-29     77
2014-11-19     75
2014-06-26     75
2014-06-23     73
2014-04-14     73
2014-11-27     72
2014-03-26     71
2014-05-26     71
2014-12-04     70
2014-12-19     70
2014-03-25     69
2014-01-28     69
             ...
2015-05-02      2
2013-11-10      2
2013-07-14      1
2011-09-01      1
2011-09-06      1
2013-08-11      1
2011-09-10      1
2015-01-06      1
2011-09-08      1
2014-11-03      1
2011-09-05      1
2013-06-12      1
2011-09-17      1
2011-09-09      1
2011-08-23      1
2014-11-04      1
2011-09-24      1
2012-11-25      1
2011-08-27      1
2011-09-13      1
2013-02-23      1
2011-09-29      1
2013-03-24      1
2014-04-13      1
2015-01-05      1
2011-08-20      1
2014-05-25      1
2014-05-03      1
2015-04-05      1
2014-02-16      1
Name: Date, dtype: int64
Unique values for BD_Year :
0           14135
2014          919
2015          824
2013          464
1970          418
1969          407
1968          389
1967          384
1965          378
2016          375
1             368
1972          360
1974          357
1971          352
1966          348
1960          344
1962          338
1973          333
1963          325
1964          315
1975          309
1961          297
1976          263
1977          260
2006          242
1979          236
1978          235
2008          234
2012          233
1980          226
            ...
1912            5
1947            4
1914            3
1949            3
1924            3
3               2
1943            2
1896            2
1941            2
1860            2
1900            2
1946            2
1907            2
1948            1
1886            1
1920            1
1905            1
1904            1
1925            1
1691            1
1906            1
2018            1
1911            1
4965            1
215             1
71              1
20              1
1876            1
20052009        1
1895            1
Name: BD_Year, dtype: int64
Unique values for BD_Year_2 :
0       14509
2014      919
2015      824
2013      464
1970      418
1969      407
1968      389
1967      384
1965      378
2016      375
1972      360
1974      357
1971      352
1966      348
1960      344
1962      338
1973      333
1963      325
1964      315
1975      309
1961      297
1976      263
1977      260
2006      242
1979      236
1978      235
2008      234
2012      233
1980      226
2004      220
        ...
1930        6
1910        5
1936        5
1890        5
1912        5
1915        5
1947        4
1949        3
1924        3
1914        3
1943        2
1907        2
1900        2
1860        2
1946        2
1941        2
1896        2
1895        1
1904        1
1920        1
1691        1
1911        1
2018        1
4965        1
1905        1
1948        1
1925        1
1876        1
1906        1
1886        1
Name: BD_Year_2, dtype: int64

In [149]:
train_data_select.dtypes

price_doc                int64
id                       int64
full_sq                  int64
floor                  float64
max_floor              float64
material               float64
build_year             float64
num_room               float64
kitch_sq               float64
state                  float64
product_type            object
sub_area                object
Date            datetime64[ns]
BD_Year                  int64
BD_Year_2                int64
dtype: object

In [88]:
#convert Date column to Date from object dtype
train_data_select =  train_data_select.assign(Date =  pd.to_datetime(train_data_select['timestamp'], format='%Y-%m-%d'))

In [91]:
#Dropping time stamp column
train_data_select.drop('timestamp', axis = 1, inplace=True)

In [151]:
#build year
train_data_select = train_data_select.assign(BD_Year = (train_data_select['build_year'].astype(int)))

#modify BD_Year to only take values with 4 digit years
train_data_select = train_data_select.assign(BD_Year_2 = np.where(train_data_select['BD_Year'].astype(str).str.len() == 4,train_data_select['BD_Year'],0  ) )

In [92]:
#Replicating the above code using dictionary - 
#Only finding unique values where unique values are less or dtype is objects
columndict = dict(train_data_select.dtypes)
for k, v in columndict.items():
    if train_data_select[k].dtype == 'object' and train_data_select[k].nunique() < 5  :
        print 'Unique values for', k ,': \n', train_data_select[k].value_counts(dropna = False)

Unique values for product_type :
Investment       19448
OwnerOccupier    11023
Name: product_type, dtype: int64

In [119]:
#Check for missing values - NaN or NA
def num_missing(x):
    return sum(x.isnull())
def num_missing_perc(x):
    return (sum(x.isnull())/len(x)) * 100

#Applying per column:
print "Missing values per column:"
print train_data_select.apply(num_missing, axis=0)
print "Percentage of missing per column:"
print train_data_select.apply(num_missing_perc, axis=0)
print train_data_select.dtypes

Missing values per column:
price_doc       0
id              0
full_sq         0
floor           0
max_floor       0
material        0
build_year      0
num_room        0
kitch_sq        0
state           0
product_type    0
sub_area        0
Date            0
dtype: int64
Percentage of missing per column:
price_doc       0.0
id              0.0
full_sq         0.0
floor           0.0
max_floor       0.0
material        0.0
build_year      0.0
num_room        0.0
kitch_sq        0.0
state           0.0
product_type    0.0
sub_area        0.0
Date            0.0
dtype: float64
price_doc                int64
id                       int64
full_sq                  int64
floor                  float64
max_floor              float64
material               float64
build_year             float64
num_room               float64
kitch_sq               float64
state                  float64
product_type            object
sub_area                object
Date            datetime64[ns]
dtype: object

In [112]:
#Do manually
train_data_select['floor'] = train_data_select['floor'].fillna(0)

In [118]:
#Same thing as above but automated
missingval_col = dict(train_data_select.apply(num_missing, axis=0))

for k, v in missingval_col.items():
    if train_data_select[k].dtype in ['float64','int64']:
        train_data_select[k] = train_data_select[k].fillna(0)

In [153]:
#Check
print train_data_select['BD_Year_2'].unique()

[   0 1907 1980 2014 1970 1982 2013 2004 2003 1957 1986 1960 1995 1979 1975
 1987 1962 1969 1993 1996 1972 2011 1965 2010 1985 2006 1961 1971 1978 1966
 1967 2000 1964 1977 1983 1968 1974 2008 1959 2007 1984 1976 1997 1989 1958
 1988 2012 1990 1946 1917 2002 2005 2001 1963 1954 1951 1981 1955 1999 2009
 1973 1994 1998 1992 1950 1956 2015 1932 1937 1938 1939 1991 1934 1935 1947
 1953 1933 2016 1930 1912 1929 1928 1915 1936 1925 1940 1943 1927 1896 1911
 1924 1952 2017 1926 1931 1860 1949 1914 4965 1910 1895 1948 1876 1900 1890
 1920 1904 1906 1941 1691 1905 1886 2018]

##### Always a good idea to read data as string since reading string as numeric causes to be NA